*{margin: 0; padding: 0;}
section{width: 100%; height: 50vh; 
}
li,ul{list-style: none;}
a{text-decoration: none;}


#wrap{width: 100%;}
header{width: 100%; position: relative; 
    height: 80px;
}
.header_in{width:1200px;
    height: 80px; margin: 0 auto; }
.logo{width: 150px; height:80px;
    line-height: 80px; float: left;}
.nav{width: 1200px; float:left;}
.nav_menu{width: 100%;}
.nav_m{text-align: center;}
.nav_menu .nav_m li{ width: 140px; float: left; 
         height: 80px; margin-left: 20px; line-height: 80px;}
.nav_menu .nav_m li.on{background-color: #cccc;
transition: 1.0s all;}  

.nav_m li a{color:black; font-weight: bold;}
.m_menu{width: 100%; background-color: #a52f40;
     float: left; text-align: center;
        }
.m_menu li{height: 40px; margin-top: 3%; line-height: 40px;}
.m_menu li.on{background-color: #424242;}
.m_menu a{color: #f5f4f4;}
.onb{width: 48px; height: 48px;
    background-size: cover; 
background-repeat: no-repeat; background: url(./image/icons8-원형-메뉴-48.png);
        position: absolute;
    right: 20px; top: 20px;}
         


.burger{ 
width: 100px; height: 30px; float: left;
  line-height: 50px; margin-top: 15px;}
.burger li{width: 30px; height: 30px; float: left;
cursor: pointer;}
.burger li:nth-child(1){background: url(./image/pngwing.com\ \(1\).png); 
    background-size: cover; margin-left: 20px; }
.burger li:nth-child(2){background: url(./image/well.png);
    margin-left: 20px; background-size: cover;}



.page1_contents{width: 1200px; height: 80vh;
    margin: 0 auto; background: url(./image/pro3mainimg.jpg);
            background-size: cover; }


.page2_section{height: 450px;}
.page2_contents{width: 1200px; height: auto;
margin: 0 auto;
align-items: center;}
.page2_contents ul{width: 100%; display: flex;
    justify-content:space-around;  }
.page2_contents ul li{width: 280px;
    border-radius: 20px;

background-color:white;
height: 380px;
}
.page2_text{margin: 150px 30px 30px 30px; color: rgb(133, 131, 131);} 
.page2_text li{box-shadow: 5px 5px 15px black;
                margin-left: 20px;}
.page2_text li:nth-child(1){margin-left: 0;}                
.page2_text h2{margin-top: 10px; color: black; margin-left: 20px;}
.page2_text p{margin-top: 10px; margin-left: 20px;}
.page2_text span{display: block; 
    width: 50px;
    margin-top: 50px;
    color: white; cursor: pointer;
 height: 80px; }

.page2_text .more1{background: url(./image/icons8-생각-64.png);
width: 30px; margin: 70px 50px 20px 20px;
 height: 30px; background-size: cover;}
.page2_text .more2{background: url(./image/icons8-손-커서-64.png);
    width: 30px; margin: 70px 50px 20px 20px;height: 30px; background-size: cover;}
.page2_text .more3{background: url(./image/icons8-services-64.png);
        width: 30px; margin: 70px 50px 20px 20px;
         height: 30px; background-size: cover;}
.page2_text .more4{background: url(./image/icons8-도구-상자-64.png);
            width: 30px; margin: 70px 50px 20px 20px;
             height: 30px; background-size: cover;}
.page2_text li.on{background-color: #bf1e2e;
color: white; transition: all 1.3s;

box-shadow: 10px 15px 20px rgb(0 0 0 / 19%);}
.page2_text h2.on1{color:white; transition: 1s all;}




.page3{width: 1200px; margin: 0 auto; 
        height: 50vh; }
.page3_left{width: 600px; position: relative;
     height: 700px; background-color: white; float: left;}
.page3_right{z-index: 600;
    width: 600px; height: 700px; float: right;
}
.page3_left li{cursor: pointer; font-size: 17px;;
    width: 600px;
    position: absolute;
    top: 100px;
    z-index: 999;
     height: 160px; margin-top: 30px;}
.page3_left li:nth-child(1){ top: 100px;}
.page3_left li:nth-child(2){ top: 250px;}
.page3_left li:nth-child(3){top: 400px;}

.page3_left  li p{margin: auto 0; 
   
    width: 100%; height: 100px; padding-top: 50px;
  text-align: left;}    
.page3_left li .p3icon{height: 75px;
     margin:30px 20px 0 20px; 
    width: 75px; display: inline-block;
      float: left; background: url(./image/icons8-서표-128.png);
        background-repeat: no-repeat; background-size: cover;}
.page3_left li .p3icon1{height: 75px;
            margin:30px 20px 0 20px; 
           width: 75px; display: inline-block;
             float: left; background: url(./image/icons8-공유-\(2\)-128.png);
               background-repeat: no-repeat; background-size: cover;}
.page3_left li .p3icon2{height: 75px;
                margin:30px 20px 0 20px; 
               width: 75px; display: inline-block;
                 float: left; background: url(./image/icons8-home-128.png);
                   background-repeat: no-repeat; background-size: cover;}
   
.page3_left li.on{transition: all 1.0s;
    border-radius: 30px;
    padding-right: 50px;
    color: white;   
   box-shadow:5px 5px 50px black;
    background-color: #bf1e2e;}


.page3_right .picture{width: 600px;
     height: 700px; position: relative;}
.page3_right .picture li{width: 600px; 
    border-radius: 50px; z-index: 100;
   height: 600px; position: absolute;}
.page3_right .picture li:nth-child(1){
background: url(./image/page3img1.jpg); background-position: center;
 background-repeat: no-repeat; background-size: cover; }
.page3_right .picture li:nth-child(2){background:url(./image/pgae3iim2.jpg);
    background-repeat: no-repeat; background-size: cover;
    background-position: center;}
.page3_right .picture li:nth-child(3){background: url(./image/page3img3.jpg);
    background-repeat: no-repeat; background-position: center;
     background-size: cover;}

.help{width: 1200px; height: 550px; 
    margin: 0 auto;
}
.help_left{width: 550px; height: 550px; 
    float: left; 
    align-items: center;
    }
.help_left .left_text{ width: 550px;
    margin: 150px 0 0 20px}
.help_left h1{}
.help_left p{}
.help_left ul{}
.help_left li{float: left;
 margin: 50px 20px 0 20px;
text-align: center;
width: 200px; height: 50px;
line-height: 50px;
cursor: pointer; 
background-color: #bf1e2e;
color:white;
border: 1px solid  #bf1e2e;; border-radius: 50px;}
    .help_left li:nth-child(2){
        background-color: #424242;
        border: 1px solid  #424242;
    }

.help_right{float: left; height: 550px;
    border: 1px solid #ccc; border-radius: 5px;
    width: 600px; background: url(./image/pro3page4.jpg);
background-repeat: no-repeat; background-size: cover;}
    

footer{width: 1200px; margin: 0 auto; 
      height: 500px;}


.footer_left{width: 500px; height: 500px;
    float: left;} 
.footer_icons{width: 100%; float: left;
    margin-top: 100px;
    margin-bottom: 30px;
  }
.footer_icons >div{border-radius: 5px; margin-left: 20px;}
.footer_icons > div:nth-child(1){width: 50px;
    float: left; height: 50px; background-repeat: no-repeat; background-size: cover;
     background: url(./image/instar.png);}
.footer_icons > div:nth-child(2){
float: left; width: 50px; height: 50px;
    background: url(./image/fa.png);
    background-repeat: no-repeat; background-size: cover; }
.footer_icons > div:nth-child(3){ background: url(./image/akak.png);
       float: left; width: 50px; height: 50px;
       background-repeat: no-repeat; background-size: cover; }

.footer_text{width: 100%;
     float: none;
 
  padding: 20px 0 0 20px;
}

.footer_text p{color:#424242;
 line-height: 40px; font-weight: 400;}
.footer_left .info{width: 200px; height: 50px;
                border: 1px solid #424242;
                border-radius: 50px;
                line-height: 50px;
                text-align: center;
                margin-left: 20px;
                cursor: pointer;
            margin-top: 50px;}
.footer_left .info.on{background-color: #424242;
                        color: white;
                    transition: all 0.5s;}
            
                    




.footer_right{width: 700px;
                float: left;   height: 500px;
            }
.footer_right .right_text{margin:150px 0 0 30px;}
.footer_right .footer_text ul{width: 100%;}

.right_text ul li{width: 220px; float: left;
                    height: 300px;
                    }
.right_text  li span{color:black; padding: 20px; cursor: pointer;}   
.right_text li p{margin: 10px 0 20px 20px; cursor: pointer;
                    color: rgb(92, 90, 90);} 
.last_text{margin-top: 65px; color: black;}         
.last_p{ color: rgb(92, 90, 90);}


.m_menu{display: none;}
    .onb{display: none;
            cursor: pointer;}


@media screen and (max-width:1100px){
    section{width: 100%; height: 800px;}
    .header_in{width: 92%;margin: 0 auto;}
    .logo{width: 11.5%;}
    .nav{width: 92%; float: left;}
    .nav_menu .nav_m li{width: 11.3%;
            margin-left: 1.5%; }
    .burger{width:20%; margin-top:1.1%;}
    .burger li{width:10%; margin-left:1.5% ;}
 
    .page1_contents{width: 100%; height: 800px;}

    .page2_section{ height: 450px;
     
               }
    .page2_contents{width: 100%; height: 400px;
              }
    .page2_contents ul li{width:24.5%;}
    .page2_text{margin: 11.5% 2.3% 2.3% 2.3%;}
    .page3{width: 100%; height: 800px;
         }
    .page3_left{width: 50%;}
    .page3_right{width: 50%;}
    .page3_left li{width:100%; margin-top: 2.7%;}
    .page3_right .picture{width: 100%;}
    .page3_right .picture li{ height: 600px;
                                width: 100%;}
    .help{width: 100%; height: 550px; margin: 0 auto;}
    .help_page{height: 550px;}
    .help_left{width: 45%; height: 550px;}
    .help_left .left_text{width: 50%; margin: 13% 0 0 1.8%;}
    .left_left li{margin: 4.5% 1.8% 0 1.8%;
                    width: 18.1%;}

    .help_right{width: 50%; height: 550px;}


    footer{width: 100%; margin: 0 auto;
            height: 500px;}
    .footer_page{height: 500px; }
    .footer_text{width: 100%; 
         padding:1.8% 0 0 1.8%}
    .footer_left{width: 45.5%; }
    .footer_left .info{width:40.1% ;}
    .footer_right{width: 50%; height: 500px;
       }
    .footer_right .right_text{margin: 20% 0 0 0;
    }
    .right_text ul li{width: 33%;}
    .m_menu{display: none;}
    .onb{display: none;}
}

@media screen and (max-width:768px){
.header_in{width:100%; z-index: 9999;
    background-color: white;}
.logo{width: 19.5%;}
.nav{width: 100%;}
.nav_menu .nav_m li{width: 9.2%;
                    margin-left: 2.2%;}

.burger{width: 11.2%;}
.burger li{width:30%; float: left;}
.page1_contents{width: 100%; background-position: center;}


.page2_section{height: 500px; width: 100%;}
.page2_contents{width:100%;
    }
.page2_contents ul li{width: 100%;}
.page2_text{width: 100%;}
}

@media screen and (max-width:767px){
.header_in{position: fixed;}
.nav{width: 100%;}
.logo{width: 19.5%;}
.nav_menu{display: none;}
.nav_menu .nav_m li{width: 18.2%;}
.burger{display: none;}
.m_menu{display: block;}
    .onb{display: block;}
    .page1_contents{width: 100%; background-position: center;}



    .page2_section{height: 400px; width: 100%;}

.page2_contents {width: 100%;}
.page2_contents .page2_text{width: 100%;}

.page2_info{display: flex; 
    justify-content: space-around;}

.page2_contents .page2_text{width: 100%; ;}
.page2_contents .page2_text li{ height: 230px;width:100%;}
.page2_text h2{font-size: 14px;}
.page2_text p{font-size: 12px;}
.page2_text span{font-size: 12px;
                    margin-top: 10%;}
.page2_text .more1{margin: 10% auto;}
.page2_text .more2{margin: 10% auto;}
.page2_text .more3{margin: 10% auto;}
.page2_text .more4{margin: 10% auto;}

.page3{width: 100%; height: 800px;}
.page3_left{width: 100%;}
.page3_right{display: none;}
.page3_left li{width:80%; margin-top: 2.7%;}


.help{width: 100%; height: 550px; margin: 0 auto;}
.help_page{height: 550px;}
.help_left{width: 45%; height: 350px;}
.left_text h1{font-size: 17px;}
.left_text p{font-size: 12px;}

.help_left .left_text{width: 50%; margin: 13% 0 0 10.3%;}
.help_left li{margin: 10.5% 1.8% 0 1.8%;
                width: 60%;}
.help_right{width: 50%; height: 350px;}

footer{width: 100%; margin: 0 auto;
    height: 500px;}
.footer_page{height: 500px; }
.footer_text{width: 100%; 
 padding:1.8% 0 0 1.8%}
.footer_left{width: 45.5%; }
.footer_left .info{width:90% ;}

.footer_right{width: 54%; height: 500px;
}
.footer_right .right_text{margin: 20% 0 0 0;}
.right_text ul li{width: 33%;}

.right_text  li span{color:black; padding: 10%; cursor: pointer;}   
.right_text li p{margin: 15% 0 3% 5%; cursor: pointer;
                    color: rgb(92, 90, 90);} 
.last_text{margin-top: 30%; color: black;}         
.last_p{ color: rgb(92, 90, 90);}
}

@media screen and (max-width:479px){
    .page2_section{height: 600px;}
    .page2_info{
        flex-wrap: wrap; width: 100%;
        height: 300px;
         }
    .page2_contents .page2_text{width: 100%; ;}
    .page2_contents ul{flex-wrap: wrap; 
                        justify-content:flex-end; }
    .page2_contents .page2_info li{width: 40%;
                     height: 220px;  margin: 3% auto; }
    .page2_text h2{font-size: 14px;}
    .page2_text p{font-size: 12px;}
    .page2_text span{font-size: 12px;
                        margin-top: 10%;}
    .page2_text .more1{margin: 10% auto;}
    .page2_text .more2{margin: 10% auto;}
    .page2_text .more3{margin: 10% auto;}
    .page2_text .more4{margin: 10% auto;}
    .page3_text li p{font-size: 10px;}
    .left_text h1{font-size: 13px; width: 100%;}
    .left_text p{font-size: 10px; width: 100%;}

    .help_left li{width: 80%;}



    footer{width: 100%; margin: 0 auto;
        height: 500px;}
    .footer_page{height: 500px; }
    .footer_icons{width: 100%;}
    .footer_icons >div{margin:0 1%; }
    .footer_text{width: 100%; 
     padding:1.8% 0 0 1.8%}
    .footer_text p{line-height: 30px;
    font-size: 12px;} 
    .footer_left{width: 45.5%; }
    .footer_left .info{width:80%;
                    margin-left: 1%;
                        font-size: 12px;}

    .footer_right{width: 54%; height: 500px;}

    .footer_right .right_text{margin: 50% 0 0 0;}
    .right_text ul li{width: 40%;
        font-size: 12px;}
    .right_text  li span{color:black; padding: 10%; cursor: pointer;}   
    .right_text li p{margin: 15% 0 3% 5%; cursor: pointer;
                    color: rgb(92, 90, 90);} 
    .last_text{display: none;}
    .right_text li:nth-child(2){display: none;}



}




